name: flutter_weather_app
description: "A new Flutter project."
publish_to: 'none' 

version: 1.0.0+1

environment:
  sdk: ^3.7.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons:
  http:
  flutter_dotenv:
  flutter_riverpod: ^2.3.0
  geolocator:
  weather:
  geocoding:
  auto_size_text:
  weather_animation: ^1.0.0
  
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - .env
